body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ul li{
	display: inline;
}

.responsive {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.container {
    zoom: 1; /* IE6&7 */
}

.container:before,
.container:after {
    content: "";
    display: table;
}

.container:after {
    clear: both;
}

/*game css*/

.Hangman h1 {
	font-size: 300rem;
	font-weight: 400;
	padding-top: 0;
	color: #158cee;
}

.Hangman li {
	margin: 20px;
}

.Hangman-word {
	letter-spacing: 1em;
	margin: 0.4em -1em 0.2em 0;
	font-size: 1.5rem;
	color: #07ffc9;
}

.Hangman-btns {
	text-align: center;
	color: #158cee;
	display: inline-block;
	font-size: 1.5rem;
}
.Hangman button {
	border: none;
	font-family: inherit;
	font-size: 2.5rem;
	cursor: pointer;
	width: 5rem;
	margin: 18px 8px 10px 13px;
	letter-spacing: 0px;
	outline: none;
	background: #07ffc9;
	color: rgb(0, 0, 0);
	border-radius: 10px;
	padding-top: 15px;
}

.Hangman-reset {
	color: #d6dfdf;
	box-shadow: 0 6px #07ffc9 !important;
	width: 10rem !important;
	background-color: #07ffc9;
	border-color: #07ffc9;
	box-shadow: 0 0 40px #07ffc9;
}
.Hangman button:hover {
	background-color: #fffffa;
}

.Hangman button:disabled {
	color: #d6dfdf;
	background-color: #ff1100;
	border-color: #ff1100;
	box-shadow: 0 0 40px #ff1100;
}

.fontSpace {
	font-size: 1.5rem;
	letter-spacing: 1px;
}

.imgArray {
	height: 300px;
	padding: 50px;
}

/* For iPad */

@media (max-width: 1200px) {
	.fontSpace {
		font-size: 1.25rem;
		letter-spacing: 1px;
	}

	.imgArray {
		height: 185px;
		min-width: 100%;
		padding: 50px 0 0 0;
		margin: 0;
	}

	.Hangman p {
		font-size: 1.2em;
	}

	.apple1 {
		height: 70px;
		width: 70px;
	}
	.apple2 {
		height: 80px;
		width: 80px;
	}
	.apple3 {
		height: 90px;
		width: 90px;
	}
	.apple4 {
		height: 100px;
		width: 100px;
	}
}

/* For mobile */

@media (max-width: 800px) {
	.imgArray {
		height: 185px;
		min-width: 100%;
		padding: 50px 0 0 0;
		margin: 0;
	}

	ul {
		padding: 0;
	}

	.Hangman p {
		font-size: 1.2em;
	}

	.apple1 {
		height: 45px;
		width: 45px;
	}
	.apple2 {
		height: 55px;
		width: 55px;
	}
	.apple3 {
		height: 65px;
		width: 65px;
	}
	.apple4 {
		height: 75px;
		width: 75px;
	}

}